#version=DEVEL
install
cdrom
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
network --hostname=centos67x64.laatu
rootpw  --iscrypted $6$a4zzoo56EOCDKcQD$oFoc58YJBpSDw7zlKYEjwLdVqIhOdPPo8AvODNg.dBZI/dQNdIM8oER.NCMTm.3NX3dC7m7Kg0jthU/FnyRSD0
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --enforcing
timezone --utc Europe/London
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

zerombr yes
clearpart --all --drives=sda

part /boot --fstype=ext4 --size=500
part pv.008002 --grow --size=1

volgroup vg_centos67x64 --pesize=4096 pv.008002
logvol / --fstype=ext4 --name=lv_root --vgname=vg_centos67x64 --grow --size=1024 --maxsize=51200
logvol swap --name=lv_swap --vgname=vg_centos67x64 --grow --size=819 --maxsize=819

reboot

%packages --nobase
@core
%end