#version=DEVEL
install
cdrom
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
network --hostname=oel67x64.laatu
rootpw  --iscrypted $6$HeUkgILKXK/.AU4D$bNyIjtiorVb39V8jxRaJDbfi2UDvGqNirYOun.RnDaHTIiygPQPWu1b1XiFR8ouWVWGBmtqzodm0AcMZ/EY12/
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --enforcing
timezone --utc Europe/London
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

zerombr yes
clearpart --none --initlabel

part /boot --fstype=ext4 --size=500
part pv.008002 --grow --size=1

volgroup vg_oel67x64 --pesize=4096 pv.008002
logvol / --fstype=ext4 --name=lv_root --vgname=vg_oel67x64 --grow --size=1024 --maxsize=51200
logvol swap --name=lv_swap --vgname=vg_oel67x64 --grow --size=1228 --maxsize=1228

reboot

%packages
@core
@server-policy
@uek3-kernel-repo